.img-menu {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
}

.menu-box2 {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: center;
}

@media screen and (min-width: 992px) {
  .ocultar {
    display: none;
  }

  .boton-header-menu2 {
    display: none;
  }

  .dropdown-menu.show {
    display: flex;
  }
}
@media screen and (max-width: 992px) {
  .ocultar2 {
    display: none;
  }

  .boton-header-menu {
    display: none;
  }
}
.fixed-top {
  position: absolute;
}

nav ul {
  display: block;
  float: right;
  overflow: hidden;
  margin: 7px 0;
  margin-right: 10px;
}

.carousel-item {
  height: 100vh;
  min-height: 350px;
  background: no-repeat center center scroll;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.nav-link {
  font-size: 16px;
  color: #ffff;
}
.nav-link:hover {
  color: #C73F29;
}

.nav-link:after {
  content: "";
  width: 0px;
  height: 2px;
  display: block;
  background: #C73F29;
  transition: 300ms;
}

.nav-link:hover:after {
  width: 100%;
}

.navbar-light2 .navbar-toggler-icon {
  background-image: url(../img/iconos/menu.png);
}

.navbar-nav {
  align-items: flex-end;
}

.offcanvas {
  background-color: #141D27;
}

.texto-header-index {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-items: center;
  margin-top: 40vh;
  text-align: center;
}

.texto-header-index p {
  color: #EDCFCF;
}

.boton-header-index {
  margin-top: 70vh;
}

.boton-header-menu a {
  color: #ffff;
  border: 2px solid #C73F29;
  border-radius: 2rem;
  padding: 15px 25px;
  transition: all 0.5s;
  background-color: #141D27;
}
.boton-header-menu a:hover {
  background-color: #C73F29;
  color: #ffff;
  border: 2px solid #141D27;
}

.boton-header-menu2 a {
  color: #ffff;
  border: 2px solid #C73F29;
  border-radius: 2rem;
  padding: 15px 25px;
  transition: all 0.5s;
  background-color: #141D27;
}
.boton-header-menu2 a:hover {
  background-color: #C73F29;
  color: #ffff;
  border: 2px solid #141D27;
}

.boton-header-index a {
  color: #ffff;
  border-radius: 2rem;
  padding: 15px 25px;
  transition: all 0.5s;
  background-color: transparent;
}
.boton-header-index a:hover {
  color: #C73F29;
}
.boton-header-index a::after {
  content: "";
  width: 0px;
  height: 1px;
  display: block;
  background: #C73F29;
  transition: 300ms;
}
.boton-header-index a:hover::after {
  width: 90%;
}

/* Boton header index*/
.cta a {
  letter-spacing: 4px;
  text-transform: uppercase;
  color: #ffff;
}

.cta img {
  transform: translateX(5px);
  transition: all 0.3s ease;
}

.cta:hover img {
  transform: translateX(10px);
}

.cta:active img {
  transform: scale(0.9);
}

.carousel-indicators [data-bs-target] {
  background-color: #C73F29;
}

.carousel-indicators .active {
  background-color: #3F75B8;
}

.hero-menu {
  background-color: #141D27;
  height: 100vh;
}

.hero-menu-nosotros {
  background-color: #EDCFCF;
  height: 100vh;
}

.hero-menu-contacto {
  background-color: #3F75B8;
  height: 100vh;
}

.hero-menu-reserva {
  background-color: #141D27;
  height: 100vh;
}

.dropdown-menu {
  background-color: transparent;
  border: none;
}

/* From uiverse.io by @Madflows */
.button {
  position: relative;
  overflow: hidden;
  height: 3rem;
  padding: 0 2rem;
  border-radius: 1.5rem;
  border: none;
  background: #141D27;
  color: #ffff;
}

.button input {
  position: relative;
  overflow: hidden;
  height: 3rem;
  padding: 0 2rem;
  border-radius: 1.5rem;
  border: none;
  background: #141D27;
  color: #ffff;
}

.button:hover::before {
  transform: scaleX(1);
}

.button-content {
  position: relative;
  z-index: 1;
}

.button::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  transform: scaleX(0);
  transform-origin: 0 50%;
  width: 100%;
  height: inherit;
  border-radius: inherit;
  background: linear-gradient(82.3deg, #C73F29, #C73F29);
  transition: all 0.475s;
}

#titulo-nosotros {
  color: #3F75B8;
}

.titulo-contacto {
  color: #ffff;
}

#titulo-reserva {
  color: #EDCFCF;
}

#subtitulo-reserva {
  color: #3F75B8;
}

@media screen and (max-width: 992px) {
  h1, h2, h3, h4, h5 {
    font-size: smaller;
  }
}
body {
  font-family: gotham;
  background-color: #141D27;
}
body a {
  text-decoration: none;
  font-size: 1.2rem;
}
body h1 {
  font-size: 3.5rem;
  color: #ffff;
  font-family: optician;
}
body h2 {
  font-size: 3rem;
  font-family: optician;
}
body h3 {
  font-size: 2.5rem;
  font-family: optician;
}
body h4 {
  font-size: 1.5rem;
  font-family: copper;
}
body h5 {
  font-size: 1rem;
  font-family: copper;
}
body h6 {
  font-size: 0.5rem;
  font-family: copper;
}

#myBtn {
  display: none;
  /* Hidden by default */
  position: fixed;
  /* Fixed/sticky position */
  bottom: 20px;
  /* Place the button at the bottom of the page */
  right: 30px;
  /* Place the button 30px from the right */
  z-index: 99;
  /* Make sure it does not overlap */
  border: none;
  /* Remove borders */
  outline: none;
  /* Remove outline */
  background-color: #141D27;
  /* Set a background color */
  color: white;
  /* Text color */
  cursor: pointer;
  /* Add a mouse pointer on hover */
  padding: 5px;
  /* Some padding */
  border-radius: 100px;
  /* Rounded corners */
  border: 1px solid #C73F29;
  font-size: 18px;
  /* Increase font size */
}

#myBtn:hover {
  background-color: #C73F29;
  /* Add a dark-grey background on hover */
}

@media screen and (max-width: 800px) {
  #img-footer {
    display: none;
  }
}
.fondo-footer {
  background-color: #141D27;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.fondo-footer section {
  margin: 3rem 0rem;
}

ul {
  list-style: none;
}

.fondo-footer li {
  color: #ffff;
}

li {
  margin: 2rem 0rem;
}

.lineas2 {
  position: relative;
  text-align: center;
}

.lineas::after {
  content: "";
  position: absolute;
  left: calc(50% - 22px);
  background: #ffffff;
  width: 44px;
  height: 100%;
  z-index: -1;
}

.lineas::before {
  content: "";
  position: absolute;
  left: calc(50% - 22px);
  background: #ffffff;
  width: 44px;
  height: 100%;
  z-index: -1;
}

@media screen and (min-width: 992px) {
  .menu-mobile {
    display: none;
  }
}
@media screen and (max-width: 992px) {
  .texto-carta-index h2 {
    font-size: 30px;
  }

  .destacados-menu {
    margin: 10rem 0rem 5rem 0rem !important;
  }

  .sobre-nosotros img {
    display: none;
  }

  .owl-container {
    display: none;
  }

  #titulo-reserva {
    font-size: 2rem;
  }
}
@media screen and (max-width: 450px) {
  .texto-carta-index h2 {
    font-size: 1.5rem;
  }

  .boton-main-index h2 {
    font-size: 1.5rem;
  }

  .boton-header-index a {
    padding: 5px 10px;
  }

  .boton-main-index a {
    font-size: 1rem;
  }

  .boton-carta-index a {
    font-size: 1rem;
  }

  .hover-underline-animation {
    font-size: 1rem;
  }

  path, svg {
    display: none;
  }

  .menu-box {
    border: 0px solid;
  }
}
.row {
  --bs-gutter-x: 0px;
}

.carta-index {
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
}

.fondo-carta-index {
  background-image: url(../img/portadas/ondasnuevo.svg);
  align-content: center !important;
  background-size: cover;
  height: 50vh;
  width: 100%;
}

.texto-carta-index, .boton-carta-index {
  display: flex;
  padding: 0px 0px 50px 0px;
  justify-content: center;
}

.texto-carta-index {
  color: #ffff;
  text-align: center;
}

#texto-menu-index {
  color: #141D27;
}

.nosotros-index {
  min-height: 100vh;
  margin-top: 5rem;
  background-color: #ffff;
}

.reservas-index {
  display: flex;
  flex-wrap: wrap;
  align-content: center;
  background-image: url(../img/portadas/ondas-naranja-azul-01.svg);
  background-repeat: no-repeat;
  background-size: cover;
  background-color: #141D27;
  height: 110vh;
}

.boton-main-index a {
  border: 2px solid #141D27;
  border-radius: 2rem;
  color: #ffff;
  background-color: #141D27;
  padding: 15px 25px;
  transition: all 0.5s;
}
.boton-main-index a:hover {
  border: 2px solid #141D27;
  color: #141D27;
  background-color: #ffff;
}

#comer {
  max-width: 400px;
}

#mensaje {
  height: 100px;
}

.fondo-delivery-index {
  background-image: url(../img/portadas/wave3-01-01.png);
  background-size: cover;
  height: 100vh;
  width: 100%;
}

.delivery-index {
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  align-content: center;
}

.titulo-menu {
  border-bottom: 2px solid #141D27;
}

.texto-menu {
  padding: 3rem;
}

#titulo-carta {
  margin: 2rem 0rem;
}

.fondo-menu {
  background-color: #141D27;
}

.fondo-menu p {
  color: #ffff;
}

.fondo-menu h3 {
  color: #ffff;
}

.fondo-menu h4 {
  color: #ffff;
}

.menu-box {
  border: 2px solid #141D27;
  border-top-left-radius: 5rem;
  border-bottom-right-radius: 5rem;
  text-align: center;
  max-width: 700px;
  padding: 2rem;
}

.menu-box2 {
  align-items: center;
}

.menu-tabla {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.destacados-menu {
  height: 100vh;
  margin: 10rem 0rem 10rem 0rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.destacados-menu h2 {
  text-align: center;
  color: #C73F29;
}

.carousel-control-next-icon {
  background-image: url(../img/iconos/right-arrow.png);
}

.carousel-control-prev-icon {
  background-image: url(../img/iconos/left-arrow.png);
}

#comer {
  color: #ffff;
}

#texto-reserva {
  color: #ffff;
}

#boton-reserva {
  border: 1px solid #C73F29;
}
#boton-reserva:hover {
  border: 1px solid #141D27;
}

.ondas-nosotros {
  position: relative;
}

.sobre-nosotros {
  background-image: url(../img/portadas/fondo-nosotros.png);
  justify-content: center;
  position: relative;
  left: 0px;
  top: 0px;
  z-index: 1;
  min-height: 80vh;
  margin-top: 30vh;
}

.sobre-nosotros div {
  color: #ffff;
  margin: 1rem 1rem;
}

.sobre-nosotros img {
  margin: 1rem 0rem;
}

.sobre-nosotros-texto {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: center;
  position: relative;
  z-index: 1;
  max-width: 400px;
  align-items: center;
}

.container-fluid {
  padding: 0px;
}

.sobre-nosotros h2 {
  margin: 10rem 2rem;
  text-align: center;
}

.section-bg {
  background-size: cover;
  position: relative;
  background-position: left;
  z-index: 0;
  padding: 0;
  min-height: auto;
  overflow: hidden;
}

.wrapper img {
  position: relative;
  max-width: 100%;
}

.dashed-box {
  position: relative;
  z-index: 1;
  border: dashed;
  height: 8em;
  margin-bottom: 1em;
  margin-top: 2em;
}

.gold-box {
  position: relative;
  z-index: 3;
  /* put .gold-box above .green-box and .dashed-box */
}

.green-box {
  position: absolute;
  z-index: 2;
  /* put .green-box above .dashed-box */
  background: lightgreen;
  width: 20%;
  left: 65%;
  top: -25px;
  height: 7em;
  opacity: 0.9;
}

#titulo-nosotros {
  color: #C73F29;
  text-align: center;
}

#map {
  height: 400px;
  /* The height is 400 pixels */
  width: 100%;
  /* The width is the width of the web page */
}

#color-texto {
  color: #C73F29;
  margin: 1rem;
  font-family: collina !important;
}

.body .body-content {
  background-color: #C73F29;
}

*, *:before, *:after {
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.background {
  display: flex;
  min-height: 100vh;
}

.screen {
  position: relative;
  background: #EDCFCF;
  border-radius: 15px;
}

.screen:after {
  content: "";
  display: block;
  position: absolute;
  top: 0;
  left: 20px;
  right: 20px;
  bottom: 0;
  border-radius: 15px;
  box-shadow: 0 20px 40px rgba(0, 0, 0, 0.4);
  z-index: -1;
}

.screen-body {
  display: flex;
  align-items: center;
}

.screen-body-item {
  flex: 1;
  padding: 50px;
}

.screen-body-item.left {
  display: flex;
  flex-direction: column;
}

.app-title {
  display: flex;
  flex-direction: column;
  position: relative;
  color: #3F75B8;
  font-size: 26px;
}

.app-title:after {
  content: "";
  display: block;
  position: absolute;
  left: 0;
  bottom: -10px;
  width: 25px;
  height: 4px;
  background: #C73F29;
}

.app-contact {
  margin-top: auto;
  font-size: 8px;
  color: #141D27;
}

.app-form-group {
  margin-bottom: 15px;
}

.app-form-group.message {
  margin-top: 40px;
}

.app-form-group.buttons {
  margin-bottom: 0;
  text-align: right;
}

.app-form-control {
  width: 100%;
  padding: 10px 0;
  background: none;
  border: none;
  border-bottom: 1px solid #141D27;
  color: #141D27;
  font-size: 14px;
  text-transform: uppercase;
  outline: none;
  transition: border-color 0.2s;
}

.app-form-control::placeholder {
  color: #141D27;
}

.app-form-control:focus {
  border-bottom-color: #C73F29;
}

.app-form-button {
  background: none;
  border: none;
  color: #C73F29;
  font-size: 14px;
  cursor: pointer;
  outline: none;
}

.app-form-button:hover {
  color: #3F75B8;
}

@media screen and (max-width: 520px) {
  .screen-body {
    flex-direction: column;
  }

  .screen-body-item.left {
    margin-bottom: 30px;
  }

  .app-title {
    flex-direction: row;
  }

  .app-title span {
    margin-right: 12px;
  }

  .app-title:after {
    display: none;
  }
}
@media screen and (max-width: 600px) {
  .screen-body {
    padding: 40px;
  }

  .screen-body-item {
    padding: 0;
  }
}
.main-contacto {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.banner-contacto {
  background-color: #141D27;
  padding: 0rem 0rem 10rem 0rem;
}

.banner-contacto H3, h4 {
  margin: 3rem 0rem;
  color: #ffff;
  text-align: center;
}

#titulo-contacto2 {
  text-align: center;
  color: #3F75B8;
  margin: 5rem 0rem 5rem 0rem;
  max-width: 800px;
}

#contactanos {
  color: #141D27;
}

.frame-reserva h2 {
  font-family: optician;
  text-align: center;
  color: #C73F29;
  margin: 10rem 0rem;
}

.frame-reserva h5 {
  text-align: center;
  font-family: gotham;
  font-size: 2rem;
  color: #3F75B8;
}

.active {
  justify-content: center;
}

.carousel-item {
  height: 70vh;
}

.carousel-indicators {
  margin: 0px;
}

.main-menu {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.item {
  display: flex;
  background: #C73F29;
  height: 20rem;
}

.owl-container {
  max-width: 1000px;
}

.carousel-caption {
  font-weight: bold;
  color: #ffff;
}

#titulo-menu {
  text-align: center;
  color: #3F75B8;
  margin-bottom: 5rem;
}

.img-menu {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
}

.menu-box2 {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: center;
}

/*# sourceMappingURL=style.css.map */
