@media screen and (max-width: 800px) {
   #img-footer{
    display: none;
   }


}
.fondo-footer{
    background-color: $tortuga2;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;

   
}
.fondo-footer section{
    margin: 3rem 0rem;
   
}
ul{
    list-style: none;
}
.fondo-footer li{
    color: $tortuga1;
}
li{
    margin: 2rem 0rem;
}
.lineas2{
    position: relative;
    text-align: center;
}
.lineas::after {
        content: '';
        position: absolute;
        left: calc(50% - 22px);
        background: #ffffff;
        width: 44px;
        height: 100%;
        z-index: -1;
    }
    .lineas::before {
        content: '';
        position: absolute;
        left: calc(50% - 22px);
        background: #ffffff;
        width: 44px;
        height: 100%;
        z-index: -1;
    }

