
@media screen and (min-width: 992px) {
    
}
@media screen and (max-width: 992px) {
    .texto-carta-index h2{
        font-size: 30px;
    }
    .boton-carta-index a{
        font-size: 15px;
        padding: 5px 10px;
    }
    #titulo-carta{
        display: none;
    }

}
@media screen and (max-width: 450px) {
    .texto-carta-index h2{
        font-size: 20px;
    }
    .boton-carta-index a{
        font-size: 10px;
        padding: 5px 10px;
    }
}

.row{
    --bs-gutter-x: 0px;
}

.carta-index{
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    
}
.fondo-carta-index{
    background-color: $tortuga2;
    background-size: cover; 
    height: 30vh; 
    width: 100%;
}
.texto-carta-index, .boton-carta-index{
    display: flex;
    justify-content: center ;
}
.texto-carta-index{
    color: $tortuga1;
    text-align: center;
}

.boton-carta-index a{
    border: 2px solid $tortuga1;
    border-radius: 2rem;
    color: $tortuga2;
    background-color: $tortuga1;
    padding: 10px 15px;
    transition: ease-out 0.5s;
    &:hover{
    border: 2px solid $tortuga1;
    color: $tortuga1;
    background-color: $tortuga2;
    }
}

.nosotros-index{
    margin-top: 5rem;
}

.boton-main-index a{
    color: $tortuga1;
    border: 2px solid $tortuga1;
    border-radius: 2rem;
    padding: 10px 15px;
    transition: all 0.5s;
    background-color: $tortuga2;
    &:hover{
        background-color: $tortuga1;
        color: $tortuga2;
        border: 2px solid $tortuga2;
        
    }

}

.fondo-delivery-index{
    background-image: url(../../img/portadas/fondo_banner_delivery.jpg);
    background-size: cover; 
    height: 30vh; 
    width: 100%;

}

.delivery-index{
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    margin: 3rem 0rem;
    
}